$primary: rgb(50, 156, 156);
$danger: rgb(143, 5, 5);
$secondary: rgba(2, 147, 231, 0.808);
$warning: #d9e021;
$info: rgba(33, 18, 27, 0.08);

.vue-typer {
  .custom.char {
    color: #fad776;

    &.typed {
      color: #fad776;
    }
  }
}
