<template>
  <b-container fluid>
    <b-row>
      <b-col xs="6">
        <h2>Inventarios</h2>
      </b-col>
      <b-col xs="6" class="d-flex justify-content-end">
        <b-button variant="primary" @click="newInventory">Nuevo Inventario</b-button>
      </b-col>
    </b-row>
    <b-row>
      <InventoryList ref="inventory_list" />
    </b-row>
    <b-modal ref="inventory_modal" centered size="lg" title="Inventario" hide-footer>
      <InventoryForm @cancel="onCancelInventory" @saved="onInventorySaved" />
    </b-modal>
  </b-container>
</template>


<script>
import InventoryList from "@/components/InventoryList";
import InventoryForm from "@/components/InventoryForm";

export default {
  name: "inventory-view",
  components: {
    InventoryList,
    InventoryForm
  },
  data() {
    return {
      form: {
        role: 8
      }
    };
  },
  methods: {
    newInventory() {
      this.form = { role: 8 };
      this.$refs.inventory_modal.show();
    },
    onInventorySaved() {
      this.$refs.inventory_modal.hide();
      this.$refs.inventory_list.refresh();
    },
    onCancelInventory() {
      this.$refs.inventory_modal.hide();
    }
  }
};
</script>
