<template>
  <NoAuthLayout>
    <LoginForm />
  </NoAuthLayout>
</template>


<script>
import NoAuthLayout from "@/layouts/NoAuthLayout";
import LoginForm from "@/components/LoginForm";

export default {
  name: "login-view",
  components: {
    NoAuthLayout,
    LoginForm
  }
};
</script>
