<template>
  <b-container fluid class="d-flex mt-5 align-items-center text-center flex-column">
    <b-img src="@/assets/mainLogoBig.jpg" class="logo" alt="Responsive image"></b-img>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h3>No tienes regiones asignadas</h3>
      <h4>ponte en contacto con un administrador para que te asigne</h4>
      <div>
        <b-popover
          v-if="personPk"
          target="pk_person_info"
          triggers="hover"
          placement="top"
        >
          <template v-slot:title>Su identificador</template>
          Comunique este identificador a un administrador
          para que éste le asigne regiones.
        </b-popover>
        <h5>
          Su identificador:
          <b-badge
            v-if="personPk"
            id="pk_person_info"
            variant="danger"
          >
            {{ personPk }}
          </b-badge>
        </h5>

      </div>
    </div>
  </b-container>
</template>


<script>
export default {
  name: "no-regions-view",
  components: {},
  data() {
    return {};
  },
  computed: {
    personPk() {
      return localStorage.getItem("pk_person");
    }
  }
};
</script>


<style lang="scss" scoped>
.logo {
  width: 100%;
  max-width: 300px;
}
</style>
