<template>
  <NoAuthLayout>
    <RegisterActivate v-if="activate" />
    <RegisterForm v-else />
  </NoAuthLayout>
</template>


<script>
import NoAuthLayout from "@/layouts/NoAuthLayout";
import RegisterForm from "@/components/RegisterForm";
import RegisterActivate from "@/components/RegisterActivate";

export default {
  name: "register-view",
  props: {
    activate: {
      type: Boolean,
      default: false
    }
  },
  components: {
    NoAuthLayout,
    RegisterForm,
    RegisterActivate
  }
};
</script>
