<template>
  <Stats />
</template>


<script>
import Stats from "@/components/Stats";

export default {
  name: "stats-view",
  components: {
    Stats
  },
  data() {
    return {};
  }
};
</script>
