<template>
  <div id="app">
    <div v-if="!apploading">
      <router-view />
    </div>
    <div
      v-else
      class="text-center"
    >
      <b-img src="@/assets/mainLogoBig.jpg" fluid alt="CoronavirusMakers"></b-img>
    </div>
    <b-overlay :show="apploading" rounded="sm">
    </b-overlay>

  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      apploading: state => state.apphealth.apploading
    })
  }
};
</script>
