<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col cols="6">
          <h2>Automatismos</h2>
          <b-alert
            v-for="(err, index) in non_field_errors"
            show
            :key="index"
            variant="danger"
            class="text-center"
          >{{ err }}</b-alert>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" lg="3">
          <b-form-group label="Selecciona los recursos">
            <b-form-checkbox
              v-for="option in availResources"
              v-model="selectedResources"
              :key="option.pk"
              :value="option"
              name="flavour-3a"
            >
              {{ option.name }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col cols="12" lg="3" v-if="selectedResources.length !== 0">
          <h4>Regiones</h4>
          <b-button
            @click="showRegionsCollapse=true"
            size="sm"
            variant="info"
          >
            Selecciona las Regiones
          </b-button>
          <div>
            <b-badge
              v-for="(parent_region, index) in selectedParentRegions"
              :key="index"
              variant="secondary"
              class="mr-1"
            >
              {{ parent_region.name }}
            </b-badge>
          </div>
          <div>
            <b-badge
              v-for="region in selectedRegions"
              :key="region.pk"
              variant="primary"
              class="mr-1"
            >
              {{ region.postal_code }} - {{ region.name }}
            </b-badge>
          </div>
        </b-col>
        <b-col cols="12" lg="3" v-if="mergedRegions.length !== 0">
          <h4>Destino</h4>
          <b-button
            @click="showPersonCollapse=true"
            size="sm"
            variant="info"
          >
            Selecciona el destino
          </b-button>
          <div>
            <b-badge
              class="ml-5"
              size="xl"
              v-if="selectedStorage"
              variant="primary"
            >
              {{ selectedStorage.name }}
            </b-badge>
          </div>
        </b-col>
        <b-col cols="12" lg="3" v-if="!!selectedStorage">
          <h4>Transportista</h4>
          <b-button
            @click="showCarrierCollapse=true"
            size="sm"
            variant="info"
          >
            Selecciona el transportista
          </b-button>
          <div>
            <b-badge
              class="ml-5"
              size="xl"
              v-if="selectedCarrier"
              variant="primary"
            >
              {{ selectedCarrier.name }}
            </b-badge>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          cols="12"
          v-if="allSelected"
          class="d-flex justify-content-end"
        >
          <b-button
            variant="primary"
            @click="showConfirmModal"
          >
            Crear automatismo
          </b-button>
        </b-col>
      </b-row>
    </b-container>
    <b-modal
      ref="confirm_modal"
      class="confirm_modal"
      centered
      size="xl"
      hide-footer
      title="Confirma los automatismos"
    >
      <b-container fluid v-if="!!selectedCarrier" class="mt-2 mb-2">
        <b-col cols="12">
          <h5>Recursos</h5>
          <p
            class="ml-2 mb-1"
            v-for="(resource, index) in selectedResources"
            :key="index + '-res'"
          >
            {{ resource.name }}
          </p>
          <h5>Regiones</h5>
          <p
            class="ml-2 mb-1"
            v-for="(region, index) in mergedRegions"
            :key="index"
          >
            {{ region.name }}
          </p>
          <h5>Transportista</h5>
          <p class="ml-2 mb-1">{{ selectedCarrier.name }}</p>
          <h5>Destino</h5>
          <p class="ml-2 mb-1">{{ selectedStorage.name }}</p>
        </b-col>
        <b-row class="mt-2 mb-2">
          <b-col cols="12" class="d-flex justify-content-end">
            <b-button
              variant="primary"
              @click="newAutomatism"
            >
              Confirmar
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
    <b-modal
      ref="save_success_modal"
      centered
      size="md"
      hide-footer
    >
      <b-alert variant="success" show>Automatismos creados</b-alert>
    </b-modal>

    <b-modal
      id="dst_regions"
      size="lg"
      v-model="showRegionsCollapse"
    >
      <h3>Regiones</h3>
      <Map
        @onRegionAdded="onRegionAdded"
        @onParentRegionAdded="onParentRegionEvent"
        @onParentRegionUnselected="onParentRegionEvent"
      />
    </b-modal>
    <b-modal
      id="dst_collapse"
      size="xl"
      v-model="showPersonCollapse"
    >
      <h3>Destino</h3>
      <PersonList
        ref="person_list"
        :title="''"
        :preset_filters="{ role: 8 }"
        @person-click="onStorageSelected"
      />
    </b-modal>
    <b-modal
      id="carrier_collapse"
      size="xl"
      v-model="showCarrierCollapse"
    >
      <h3>Transportista</h3>
      <PersonList
        ref="person_list"
        :title="''"
        :preset_filters="{ role: 4 }"
        @person-click="onCarrierSelected"
      />
    </b-modal>

  </div>
</template>

<script>
import PersonList from "@/components/PersonList.vue";
import Map from "@/components/Map.vue";
import { mapState, mapActions } from "vuex";

export default {
  name: "automatisms-bulk-form",
  components: {
    Map,
    PersonList
  },
  computed: {
    ...mapState({
      availResources: state => state.utils.availResources,
      mappedAvailResources: state => state.utils.mappedAvailResources
    }),
    mergedRegions() {
      return this.$_.concat(this.selectedRegions, this.selectedParentRegions);
    },
    allSelected() {
      return (
        this.selectedCarrier &&
        this.selectedStorage &&
        this.selectedResources[0] &&
        this.mergedRegions[0]
      );
    }
  },
  mounted() {
    if (!this.availResources) {
      this.LOAD_AVAIL_RESOURCES();
    }
  },
  data() {
    return {
      showCarrierCollapse: false,
      showPersonCollapse: false,
      showRegionsCollapse: false,
      selectedRegions: [],
      selectedParentRegions: [],
      selectedResources: [],
      selectedStorage: null,
      selectedCarrier: null
    };
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_RESOURCES: "utils/LOAD_AVAIL_RESOURCES"
    }),
    newAutomatism() {
      const payload = {
        bulk: this.mergedRegions.map(region => ({
          source_region: region.pk,
          person: this.selectedStorage.pk,
          carrier: this.selectedCarrier.pk,
          resource_bulk: this.selectedResources.map(r => {
            return r.pk;
          })
        }))
      };
      this.$refs.confirm_modal.hide();
      const uri = this.$parseurl(
        "/logistica/middle/person/{person_pk}/automovementconfig/bulk/",
        {
          person_pk: localStorage.getItem("pk_person")
        }
      );

      this.$fetchpost(uri, { body: payload }).then(res => {
        res.json().then(data => {
          if (res.ok) {
            this.$refs.save_success_modal.show();
            this.$emit("bulk-saved", data);
          } else {
            this.$putErrFeedback({ data: data });
            // TODO: SHOW ERROR
          }
        });
      });
    },
    showConfirmModal() {
      this.$refs.confirm_modal.show();
    },
    onRegionAdded(regions) {
      this.selectedRegions = regions;
    },
    onParentRegionEvent(data) {
      this.selectedParentRegions = data.items;
    },
    onStorageSelected(storage) {
      this.selectedStorage = storage;
      this.showPersonCollapse = false;
    },
    onCarrierSelected(transporter) {
      this.selectedCarrier = transporter;
      this.showCarrierCollapse = false;
      // document.getElementById("mainScroll").scrollTop = "0px";
    }
  }
};
</script>

<style lang="scss" scoped>
.resourceList {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  li {
    display: flex;
    align-items: center;
    height: 20px;
    label {
      margin-bottom: 0;
    }
  }
}
</style>
