<template>
  <div class="container-fluid" id="dashboard">
    <!-- Titulo y generador de informes -->
    <section id="seccionCabecera" class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 id="cabeceraDashboard" class="text-dark mb-0">Analítica</h3>
      <button
        id="botonGenerarInforme"
        class="btn btn-primary btn-sm d-none d-sm-inline-block"
        v-on:click.prevent="generarInforme()"
      >
        <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generar Informe
      </button>
    </section>
    <!-- KPIs más importantes -->
    <section class="row">
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-primary py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                  <span>Cantidad por producto</span>
                </div>
                <b-form-select
                  id="select_producto"
                  v-model="selectedResource"
                  :options="resourceTypes"
                ></b-form-select>
                <div class="text-dark font-weight-bold h5 mb-0">
                  <span>{{ selectedResource }}</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                  <span>Ejemplo 2</span>
                </div>
                <div class="text-dark font-weight-bold h5 mb-0">
                  <span>{{ numVEntregadas }}</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-route fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-info py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-info font-weight-bold text-xs mb-1">
                  <span>Cumplimiento de la demanda</span>
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="text-dark font-weight-bold h5 mb-0 mr-3">
                      <span>Cifra 3</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm">
                      <div
                        class="progress-bar bg-info"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%;"
                      >
                        <span class="sr-only">50%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <div class="text-uppercase text-warning font-weight-bold text-xs mb-1">
                  <span>Dato 4</span>
                </div>
                <div class="text-dark font-weight-bold h5 mb-0">
                  <span>Cifra 4</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gráficas -->
    <section class="row" id="charts">
      <div class="col-lg-7 col-xl-8">
        <div class="card shadow mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="text-primary font-weight-bold m-0">Producción diaria</h6>
          </div>
          <div class="card-body chart-height">
            <div class="chart-area">
              <highcharts :options="dailyBuildsChart"></highcharts>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4">
        <div class="card shadow mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="text-primary font-weight-bold m-0">Total de productos construidos</h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <highcharts :options="chartOptions2"></highcharts>
            </div>
            <div id="pie-legend" class="text-center small mt-4">
              <span class="mr-2">
                <i class="fas fa-circle text-primary"></i>&nbsp;Direct
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-success"></i>&nbsp;Social
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-info"></i>&nbsp;Refferal
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import html2canvas from "html2canvas";
import jsPDF from "jspdf";
import { formatDate, daySpan } from "../utils/date";
import { Chart } from "highcharts-vue";

export default {
  data() {
    return {
      dailyBuilds: [],
      productos: [],
      numViseras: 5,
      numVEntregadas: 3,
      selectedResource: 0,
      dailyBuildsChart: {
        title: {
          text: ""
        },
        series: []
      },
      chartOptions2: {
        title: {
          text: ""
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: false
            },
            showInLegend: true
          }
        },
        series: [
          {
            type: "pie",
            tooltip: {
              pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>"
            },
            data: []
          }
        ]
      }
    };
  },
  async created() {
    return this.cargaDatos();
  },
  components: {
    highcharts: Chart
  },
  computed: {
    resourceTypes() {
      return this.chartOptions2.series[0].data.map(p => ({
        value: p.y,
        text: p.name
      }));
    }
  },
  methods: {
    resourceToSelectData(res) {
      return {
        value: res.y,
        text: res.name
      };
    },

    async loadDailyData() {
      const dates = [];
      for (let i = -5; i <= -1; i++) {
        dates.push(formatDate(i * daySpan));
      }
      dates.push("now");
      let startDate = dates[0];
      const dailyBuilds = [];

      for (let i = 1; i < dates.length; i++) {
        let endDate = dates[i];

        const uri = this.$parseurl(
          "/logistica/stats/resource/buildtotal/",
          undefined,
          { inventory_created_date: `${startDate},${endDate}` }
        );
        const res = await this.$fetchget(uri);
        if (res.ok) {
          const data = await res.json();
          dailyBuilds.push(data.results);
        }

        startDate = endDate;
      }
      this.dailyBuilds = dailyBuilds;

      // transform day->product->build
      // into product->day->build
      const productMap = {};
      for (const dayBuild of dailyBuilds) {
        for (const dayProduct of dayBuild) {
          let product = productMap[dayProduct.pk];
          if (product === undefined) {
            product = {
              name: dayProduct.name,
              type: "column",
              data: []
            };
          }
          product.data.push(dayProduct.inventory_total);
          productMap[dayProduct.pk] = product;
        }
      }
      this.dailyBuildsChart.series = Object.values(productMap);
    },

    async cargaDatos() {
      await this.loadDailyData();
      const uri = this.$parseurl(
        "/logistica/stats/resource/buildtotal/",
        undefined,
        { inventory_created_date: "2020-01-01-00:00:00,now" }
      );
      return this.$fetchget(uri).then(res => {
        res.json().then(data => {
          if (res.ok) {
            this.chartOptions2.series[0].data = [];
            // 👀
            data.results.forEach(element => {
              var obj = '{"name": "' + element.name + '",';
              obj += '"y": ' + element.inventory_total + ",";
              obj += '"sliced": false, "selected": false}';
              this.chartOptions2.series[0].data.push(JSON.parse(obj));
            });
            const first = this.chartOptions2.series[0].data[0];
            if (first !== undefined) {
              this.selectedResource = first.y;
            }
          } else {
            // TODO: ERROR?
          }
        });
      });
    },
    generarInforme() {
      var source = window.document.getElementById("dashboard");

      // Sustituimos el texto de la cabecera
      var cabeceraDashboard = window.document.getElementById(
        "cabeceraDashboard"
      );
      var textoCabeceraInforme = document.createTextNode(
        "Informe de KPIs más importantes"
      );
      var textoCabeceraDashboard = document.createTextNode("Dashboard");
      cabeceraDashboard.replaceChild(
        textoCabeceraInforme,
        cabeceraDashboard.childNodes[0]
      );
      // Escondemos el botón de generar informe
      var botonGenerarInforme = window.document.getElementById(
        "botonGenerarInforme"
      );
      botonGenerarInforme.classList.add("invisible");

      // Creamos el PDF utilizando html2canvas y jsPDF
      html2canvas(source).then(canvas => {
        var doc = new jsPDF({
          orientation: "landscape"
        });
        doc.addImage(canvas, "JPEG", 10, 30, 280, 160);
        doc.save("report.pdf");
      });
      // Restauramos el texto de la cabecera y el botón;
      cabeceraDashboard.replaceChild(
        textoCabeceraDashboard,
        cabeceraDashboard.childNodes[0]
      );
      botonGenerarInforme.classList.remove("invisible");
    }
  }
};
</script>
<style scoped>
#select_producto {
  margin: 10px 0 20px 0;
}
#pie-legend {
  margin-bottom: 40px;
}
.card-header::after {
  display: none;
}
.card .text-primary {
  margin-bottom: 10px;
}
</style>
