<template>
  <b-container fluid>
    <b-overlay :show="isBusy" rounded="sm">
      <b-row>
        <b-col cols="12">
          <b-table
            ref="table_inventory"
            :fields="fields"
            class="mt-4"
            hover
            responsive
            :selectable="table_selectable"
            select-mode="multi"
            selected-variant="warning"
            striped
            stacked="sm"
            :busy.sync="isBusy"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            no-local-sorting
            :items="tableProvider"
            :current-page="currentPage"
            :per-page="perPage"
            @row-clicked="onRowClicked"
          >
            <template v-slot:cell(sum_quantity_available)="data">
              {{ data.item.quantity_available }}
              <b-badge
                title="Cantidad en espera de recibir (Envío en espera)"
                variant="success"
                v-if="data.item.sum_awaiting_movements_to_this"
              >
                +{{ data.item.sum_awaiting_movements_to_this }}
              </b-badge>
              <b-badge
              title="Cantidad espera de salir (Envío en espera)"
                variant="warning"
                v-if="data.item.sum_awaiting_request_consumed"
              >
                -{{ data.item.sum_awaiting_request_consumed }}
              </b-badge>
            </template>
            <template v-slot:cell(consumer_object)="data">{{ data.item.consumer_object.name }}</template>
            <template v-slot:cell(resource__name)="data">{{ data.item.resource_object.name }}</template>
            <template v-slot:cell(owner__name)="data">
              {{ data.item.owner_object.name }}
              (
              {{ $_.get(data, 'item.owner_object.region_object.postal_code', '') }}
              - {{ $_.get(data, 'item.owner_object.region_object.name', '') }}
              )
            </template>
            <template
              v-slot:cell(owner__region__name)="data"
            >{{ data.item.owner_object.region_object.name }}</template>
            <template v-slot:cell(distance)="data">
              <span
                v-if="!isNaN(Number(data.item.distance))"
              >{{ Number(data.item.distance).toLocaleString(undefined, { maximumFractionDigits: 2 }) }} m</span>
              <span v-else>---</span>
            </template>
            <template v-slot:cell(actions)="data">
              <b-button variant="secondary" size="sm" @click="editInventory(data.item)">Editar</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-pagination
            align="center"
            :total-rows="totalRows"
            :per-page="perPage"
            v-model="currentPage"
          />
        </b-col>
      </b-row>
      <b-modal ref="inventory_modal" centered size="xl" title="Envío" hide-footer>
        <InventoryForm
          v-if="inventory_preset_form"
          :preset_form="inventory_preset_form"
          @cancel="onInventoryCancel"
          @saved="onInventorySaved"
        />
      </b-modal>
    </b-overlay>
  </b-container>
</template>

<script>
import InventoryForm from "@/components/InventoryForm";

export default {
  name: "inventory",
  components: {
    InventoryForm
  },
  props: {
    columns: {
      type: Array,
      default: function() {
        return [];
      }
    },
    preset_filters: {
      type: Object,
      default: undefined
    },
    lock_filters: {
      type: Object,
      default: function() {
        return {};
      }
    },
    table_selectable: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      loading: false,
      isBusy: false,
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      sortBy: null,
      sortDesc: false,
      inventory_preset_form: undefined
    };
  },
  computed: {
    fields() {
      const avail_columns = {
        pk: {
          label: "ID",
          sortable: true
        },
        resource__name: {
          label: "Recurso",
          sortable: true
        },
        owner__name: {
          label: "Dueño",
          sortable: true
        },
        owner__region__name: {
          label: "Región",
          sortable: true
        },
        quantity: {
          label: "Cantidad total",
          sortable: true
        },
        sum_quantity_available: {
          label: "Cantidad disponible",
          sortable: true
        },
        pad_batch: {
          label: "Lote"
        },
        distance: {
          label: "Distancia al consumidor",
          sortable: true
        },
        actions: {
          label: "",
          sortable: false
        }
      };
      // return all columns or columns configured in props
      let columns = [];
      for (const key in avail_columns) {
        if (this.columns.length == 0 || this.columns.indexOf(key) >= 0) {
          columns.push(Object.assign({}, avail_columns[key], { key: key }));
        }
      }
      return columns;
    }
  },
  mounted() {
    if (this.preset_filters) {
      this.filters = Object.assign({}, this.filters, this.preset_filters);
    }
  },
  methods: {
    tableProvider() {
      this.loading = false;
      let offset = 0;
      var filters = {};
      if (this.perPage && this.currentPage) {
        offset = this.perPage * (this.currentPage - 1);
      }
      filters.offset = offset;
      filters.limit = this.perPage;
      if (this.sortBy) {
        filters["ordering"] = this.sortBy;
        if (this.sortDesc) {
          filters["ordering"] = "-" + filters["ordering"];
        }
      }
      filters = Object.assign(filters, this.filters);
      filters = Object.assign(filters, this.lock_filters);
      const uri = this.$parseurl(
        "/logistica/middle/person/{person_pk}/inventory/",
        {
          person_pk: localStorage.getItem("pk_person")
        },
        filters
      );
      return new Promise((resolve, reject) => {
        this.$fetchget(uri).then(res => {
          res.json().then(data => {
            if (res.ok) {
              const items = data.results;
              this.loading = false;
              this.totalRows = data.count;
              this.$emit("loaded-rows", items);
              resolve(items);
              return items;
            } else {
              // TODO: LANZAR ERROR
              reject("error");
            }
          });
        });
      });
    },
    onRowClicked(data, index) {
      this.$emit(
        "inventory-click",
        Object.assign({}, data, { __row_index: index })
      );
    },
    refresh() {
      this.$refs.table_inventory.refresh();
    },
    unselectRow(index) {
      this.$refs.table_inventory.unselectRow(index);
    },
    editInventory(inventory) {
      this.inventory_preset_form = inventory;
      this.$refs.inventory_modal.show();
    },
    onInventoryCancel() {
      this.$refs.inventory_modal.hide();
    },
    onInventorySaved() {
      this.$refs.inventory_modal.hide();
      this.$refs.table_inventory.refresh();
    }
  }
};
</script>
<style>
</style>
