<template>
  <div>
    <h4 class="font-weight-bold text-center mb-2">Acceso</h4>
    <p class="mb-6 text-muted text-center">Introduce tus datos de acceso</p>
    <b-alert
      v-for="(err, index) in non_field_errors"
      show
      :key="index"
      variant="danger"
      class="text-center"
    >{{ err }}</b-alert>
    <b-form class="mb-2">
      <b-form-group
        id="grop_username"
        label="Nombre de usuario"
        label-for="input_username"
        :state="form_state.username"
        :invalid-feedback="form_invalid_feedback.username"
      >
        <b-form-input id="input_username" :state="form_state.username" v-model="form.username"></b-form-input>
      </b-form-group>
      <b-form-group
        id="grop_password"
        label="Contraseña"
        label-for="input_password"
        :state="form_state.password"
        :invalid-feedback="form_invalid_feedback.password"
      >
        <b-form-input
          id="input_password"
          type="password"
          :state="form_state.password"
          v-model="form.password"
        ></b-form-input>
      </b-form-group>
      <button
        v-on:click.prevent="doLogin()"
        class="btn btn-block btn-maker"
        type="submit"
      >Autentícate</button>
    </b-form>
    <p class="text-center">
      ¿No tienes usuario?
      <span>
        <router-link :to="{name: 'register'}">Regístrate</router-link>
      </span>
    </p>
    <!-- <p class="text-center">
      ¿Has olvidado tu contraseña?
      <span>
        <router-link :to="{name: 'recoverpass'}">
          Recupérala
        </router-link>
      </span>
    </p>
    <p class="text-center">
      ¿Necesitas un nuevo email para activar tu cuenta?
      <span>
        <router-link :to="{name: 'resendactivation'}">
          Pide uno nuevo
        </router-link>
      </span>
    </p>-->
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      form: {
        username: null,
        password: null
      }
    };
  },
  computed: {},
  created() {},
  methods: {
    ...mapActions({
      LOGIN: "auth/LOGIN"
    }),
    doLogin() {
      this.LOGIN({
        username: this.form.username,
        password: this.form.password
      }).then(
        () => {
          this.$root.loadPrivateResources();
        },
        res => {
          this.$putErrFeedback(res);
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
form {
  max-width: 600px;
  margin: 0 auto;
}
.btn-maker {
  background-color: #009245 !important;
  outline: none;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #009245;
}
</style>
