<template>
  <div id="miPerfil" class="container-fluid">
    <div class="row">
      <!-- Formulario de modificiación -->
      <div class="col-12">
        <b-row>
          <b-col cols="12" class="mt-2 mb-2">
            <b-popover
              v-if="form.pk"
              target="pk_person_info"
              triggers="hover"
              placement="top"
            >
              <template v-slot:title>Su identificador</template>
              Comunique este identificador a un administrador
              para que éste le asigne regiones.
            </b-popover>
            <h2>
              Perfil
              <b-badge
                id="pk_person_info"
                v-if="form.pk"
                variant="danger"
              >
                {{ form.pk }}
              </b-badge>
            </h2>
          </b-col>
        </b-row>
        <b-form class="mb-6">
          <b-form-group
            id="grop_name"
            label="Nombre"
            label-for="input_name"
            :state="form_state.name"
            :invalid-feedback="form_invalid_feedback.name"
          >
            <b-form-input
              id="input_name"
              :state="form_state.name"
              v-model="form.name"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_phone"
            label="Teléfono"
            label-for="input_phone"
            :state="form_state.phone"
            :invalid-feedback="form_invalid_feedback.phone"
          >
            <b-form-input
              id="input_phone"
              :state="form_state.phone"
              v-model="form.phone"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_role_disambiguation"
            label="Tipo de usuario"
            label-for="input_role_disambiguation"
            :state="form_state.role_disambiguation"
            :invalid-feedback="form_invalid_feedback.role_disambiguation"
          >
            <b-form-select
              id="input_role_disambiguation"
              v-model="form.role_disambiguation"
              :options="roleDisambiguation"
            >
              <template v-slot:first>
                <option :value="null">Elige un tipo</option>
              </template>
            </b-form-select>
          </b-form-group>

          <b-form-group
            id="grop_address"
            label="Calle"
            label-for="input_address"
            :state="form_state.address"
            :invalid-feedback="form_invalid_feedback.address"
          >
            <b-form-input
              id="input_address"
              :state="form_state.address"
              v-model="form.address"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_number"
            label="Número"
            label-for="input_number"
            :state="form_state.number"
            :invalid-feedback="form_invalid_feedback.number"
          >
            <b-form-input
              id="input_number"
              :state="form_state.number"
              v-model="form.number"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_city"
            label="Ciudad"
            label-for="input_city"
            :state="form_state.city"
            :invalid-feedback="form_invalid_feedback.city"
          >
            <b-form-input
              id="input_city"
              :state="form_state.city"
              v-model="form.city"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_province"
            label="Provincia"
            label-for="input_province"
            :state="form_state.province"
            :invalid-feedback="form_invalid_feedback.province"
          >
            <b-form-input
              id="input_province"
              :state="form_state.province"
              v-model="form.province"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="grop_country"
            label="País"
            label-for="input_country"
            :state="form_state.country"
            :invalid-feedback="form_invalid_feedback.country"
          >
            <b-form-input
              id="input_country"
              :state="form_state.country"
              v-model="form.country"
            >
            </b-form-input>
          </b-form-group>

          <div class="form-group">
            <label for="phone">Región</label>
            <b-form-invalid-feedback :state="form_state.region">
              {{ form_invalid_feedback.region }}
            </b-form-invalid-feedback>
            <b-badge
              class="ml-5"
              size="xl"
              v-if="form.region_object"
              variant="primary"
            >
              {{ form.region_object.postal_code }} -
              {{ form.region_object.name }}
            </b-badge>
            <RegionList
              isBasic
              @region-click="onRegionClick"
              :defaultText="
                form.region_object && form.region_object.name
                  ? form.region_object.name
                  : ''
              "
            />
          </div>

          <!-- Submit -->
          <button
            class="btn btn-block btn-primary lift"
            type="submit"
            v-on:click.prevent="saveForm()"
          >
            Guardar Cambios
          </button>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import RegionList from "@/components/RegionList";

export default {
  props: {
    preloadedValues: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      form: {
        name: undefined,
        phone: undefined,
        address: undefined,
        region: undefined,
        region_object: undefined,
        number: undefined,
        province: undefined,
        cp: undefined,
        country: undefined,
        city: undefined,
        role: undefined,
        role_disambiguation: undefined
      },
      roleDisambiguation: []
    };
  },
  components: { RegionList },
  created() {
    this.fillRoleDisambiguation();
  },
  mounted() {
    if (this.preloadedValues) {
      this.form = Object.assign({}, this.form, this.preloadedValues);
    }
  },
  computed: {},
  methods: {
    ...mapActions({
      CREATE_MIDDLE_PERSON: "person/CREATE_MIDDLE_PERSON",
      UPDATE_MIDDLE_PERSON: "person/UPDATE_MIDDLE_PERSON"
    }),
    fillRoleDisambiguation() {
      this.$fetchget(`/logistica/basic/role/3/disambiguation/`)
        .then(res => res.json())
        .then(data => {
          this.roleDisambiguation = data.results.map(element => ({
            value: element.pk,
            text: element.name
          }));
        });
    },
    onRegionClick(region) {
      this.form.region = region.pk;
      this.form.region_object = Object.assign({}, region);
      this.form.cp = region.postal_code;
    },
    saveForm() {
      let action = this.CREATE_MIDDLE_PERSON;
      if (this.form.pk) {
        action = this.UPDATE_MIDDLE_PERSON;
      }
      action({
        person_pk: localStorage.getItem("pk_person"),
        data: this.form
      }).then(
        res => {
          this.$emit("person-saved", res.data);
        },
        res => {
          this.$putErrFeedback(res);
        }
      );
    }
  }
};
</script>
