<template>
  <div>
    <h4 class="font-weight-bold text-center mb-2">Registro de nuevo usuario</h4>
    <p class="mb-6 text-muted text-center">Introduce tus datos</p>
    <b-form class="mb-6" @submit.prevent="doRegister">
      <b-alert
        v-for="(err, index) in non_field_errors"
        show
        :key="index"
        variant="danger"
        class="text-center"
      >{{ err }}</b-alert>
      <b-form-group
        id="grop_username"
        label="Nombre de usuario"
        label-for="input_username"
        :state="form_state.username"
        :invalid-feedback="form_invalid_feedback.username"
      >
        <b-form-input id="input_username" :state="form_state.username" v-model="form.username"></b-form-input>
      </b-form-group>

      <b-form-group
        id="grop_email"
        label="Dirección de correo electrónico"
        label-for="input_email"
        :state="form_state.email"
        :invalid-feedback="form_invalid_feedback.email"
      >
        <b-form-input id="input_email" :state="form_state.email" v-model="form.email"></b-form-input>
      </b-form-group>

      <b-form-group
        id="grop_password"
        label="Contraseña"
        label-for="input_password"
        :state="form_state.password"
        :invalid-feedback="form_invalid_feedback.password"
      >
        <b-form-input
          id="input_password"
          type="password"
          :state="form_state.password"
          v-model="form.password"
        ></b-form-input>
      </b-form-group>

      <p class="text-center">
        ¿Ya tienes usuario? Por favor, autentícate
        <span>
          <a href v-on:click.prevent="goToLogin()">aquí</a>
        </span>
      </p>
      <div class="row md-12 mb-6">
        <div class="col md-12 mb-6 text-center">
          <b-form-group
            id="grop_conditions"
            label
            label-for="checkbox-conditions"
            :state="form_state.conditions"
            :invalid-feedback="form_invalid_feedback.conditions"
          >
            <b-form-checkbox
              id="checkbox-conditions"
              v-model="form.conditions"
              name="checkbox-conditions"
            >
              Acepto la
              <a
                class="btn btn-link mx-0 my-0 p-0 align-top"
                href="https://www.coronavirusmakers.org/politica-privacidad/"
                target="_blank"
                rel="noopener noreferrer"
              >política de privacidad</a>
            </b-form-checkbox>
          </b-form-group>
        </div>
        <div>
          <b-modal id="modal-condiciones-servicios" centered title="Condiciones de Servicio">
            <p
              class="my-4"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatibus deserunt ab delectus? Eaque veritatis ducimus facere corporis! Quae dolore veritatis harum sit expedita obcaecati ea facilis libero ipsam dicta blanditiis enim molestiae, eum at exercitationem porro asperiores nisi incidunt soluta illo cum ipsum. Quas in rerum odit fugiat distinctio!</p>
            <template slot="modal-footer">CoronavirusMakers, March 2020</template>
          </b-modal>
        </div>
        <div>
          <b-modal id="modal-politica-privacidad" centered title="Política de privacidad">
            <p
              class="my-4"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, repellat sunt qui officia, consequuntur nostrum natus molestiae veniam repudiandae maxime at culpa vero possimus ratione omnis, soluta eius fugit perferendis quisquam ad deleniti amet nemo reprehenderit? Nulla est cupiditate excepturi voluptatem sit? Dicta quidem magni quo labore aliquid, ad, voluptates illo eum saepe nostrum vero reprehenderit. Libero quibusdam temporibus placeat et nostrum quaerat, labore odit! Ullam ipsa repellendus vitae ut enim, delectus accusantium possimus error recusandae nisi eveniet vel culpa dolorem placeat consectetur itaque minus omnis labore fugiat molestiae ratione libero quia? Pariatur quod et, debitis facilis dolore quibusdam. Cum.</p>
            <template slot="modal-footer">CoronavirusMakers, March 2020</template>
          </b-modal>
        </div>
      </div>
      <b-button variant="primary" block class="mt-5" type="submit">¡Regístrate!</b-button>
    </b-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        username: null,
        password: null,
        conditions: false
      }
    };
  },
  computed: {},
  methods: {
    ...mapActions({
      REGISTER: "auth/REGISTER"
    }),
    doRegister() {
      if (!this.form.conditions) {
        this.form_state.conditions = false;
        this.form_invalid_feedback.conditions =
          "Por favor, acepta las condiciones de servicio.";
        return;
      }
      this.REGISTER({
        username: this.form.username,
        password: this.form.password,
        email: this.form.email
      }).then(
        () => {
          this.goToLogin();
        },
        res => {
          this.$putErrFeedback(res);
        }
      );
    }, // Del doRegister
    goToLogin() {
      this.$router.push({
        name: "login"
      });
    }
  } // Del methods
};
</script>
<style lang="scss" scoped>
form {
  max-width: 600px;
  margin: 0 auto;
}
.btn-maker {
  background-color: #009245 !important;
  outline: none;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #009245;
}
</style>
