<template>
  <b-container fluid>
    <b-overlay :show="isBusy" rounded="sm">
      <b-row>
        <b-col cols="12" class="d-flex justify-content-between">
          <VRoleFilter
            v-if="!lock_filters.consumer__role"
            label="Rol del consumer"
            v-model="filters.consumer__role"
            @change="$refs.table_request.refresh()"
          />
          <VRoleFilter
            v-if="!lock_filters.shippings__inventory__owner__role"
            label="Rol del provider"
            v-model="filters.shippings__inventory__owner__role"
            @change="$refs.table_request.refresh()"
          />
          <VRequestStatusFilter
            label="Estado del pedido"
            v-model="filters.status"
            @change="$refs.table_request.refresh()"
          />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-table
            ref="table_request"
            :fields="fields"
            responsive
            striped
            :selectable="table_selectable"
            select-mode="single"
            selected-variant="primary"
            stacked="sm"
            :busy.sync="isBusy"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :items="tableProvider"
            :current-page="currentPage"
            :per-page="perPage"
            @row-clicked="onRowClicked"
          >
            <template v-slot:cell(consumer_object)="data">
              {{ $_.get(data, 'item.consumer_object.name', '') }}
              <br />
              <i>{{ (mappedRoleDisambiguation[data.item.consumer_object.role_disambiguation] || {}).name || '--' }}</i>
              <br />
              (
              {{ $_.get(data, 'item.consumer_object.region_object.postal_code', '') }}
              - {{ $_.get(data, 'item.consumer_object.region_object.name', '') }}
              )
            </template>
            <template
              v-slot:cell(resource_object)="data"
            >{{ $_.get(data, 'item.resource_object.name', '') }}</template>
            <template v-slot:cell(status)="data">{{ mappedAvailRequestStatuses[data.item.status] }}</template>
            <template v-slot:cell(quantity)="data">
              <span
                v-if="data.item.quantity_satisfied"
                class="text-danger"
              >{{ data.item.quantity_satisfied }} /</span>
              {{ data.item.quantity }}
            </template>

            <template v-slot:cell(shipping)="data">
              <div v-for="(shipping, index) in data.item.shippings_object" :key="index">
                <b-button
                  variant="success"
                  size="sm"
                  @click="editShipping(data.item, shipping)"
                >Envío {{ shipping.pk }}</b-button>
              </div>
              <div>
                <b-button
                  variant="secondary"
                  size="sm"
                  @click="newShipping(data.item)"
                >Asignar nuevo envío</b-button>
              </div>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-pagination
            align="center"
            :total-rows="totalRows"
            :per-page="perPage"
            v-model="currentPage"
          />
        </b-col>
      </b-row>
    </b-overlay>

    <b-modal ref="shipping_modal" centered size="xl" title="Envío" hide-footer>
      <ShippingForm
        v-if="shipping_preset_form"
        :preset_form="shipping_preset_form"
        @cancel="$refs.shipping_modal.hide()"
        @saved="onShippingSaved"
      />
    </b-modal>
  </b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ShippingForm from "@/components/ShippingForm";
import VRoleFilter from "@/components/VRoleFilter";
import VRequestStatusFilter from "@/components/VRequestStatusFilter";

export default {
  name: "request-list",
  props: {
    columns: {
      type: Array,
      default: function() {
        return [];
      }
    },
    preset_filters: {
      type: Object,
      default: undefined
    },
    table_selectable: {
      type: Boolean,
      default: false
    },
    lock_filters: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  components: {
    ShippingForm,
    VRoleFilter,
    VRequestStatusFilter
  },
  data() {
    return {
      shipping_preset_form: undefined,
      filters: {
        shippings__inventory__owner__role: null,
        consumer__role: null,
        owner__region__in: null,
        status: null
      },
      // table
      loading: true,
      isBusy: false,
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      sortBy: null,
      sortDesc: false
    };
  },
  computed: {
    ...mapState({
      availRoles: state => state.utils.availRoles,
      mappedAvailRoles: state => state.utils.mappedAvailRoles,
      mappedRoleDisambiguation: state => state.utils.mappedRoleDisambiguation,
      availRequestStatuses: state => state.utils.availRequestStatuses,
      mappedAvailRequestStatuses: state =>
        state.utils.mappedAvailRequestStatuses
    }),
    fields() {
      const avail_columns = {
        pk: {
          label: "ID",
          sortable: true
        },
        status: {
          label: "Estado",
          sortable: true
        },
        consumer_object: {
          label: "Consumidor",
          sortable: true
        },
        resource_object: {
          label: "Producto",
          sortable: true
        },
        quantity: {
          label: "Cantidad",
          sortable: true
        },
        shipping: {
          label: "Envíos",
          sortable: true
        },
        done: {
          label: "Finalizado",
          sortable: true
        }
      };
      // return all columns or columns configured in props
      let columns = [];
      for (const key in avail_columns) {
        if (this.columns.length == 0 || this.columns.indexOf(key) >= 0) {
          columns.push(Object.assign({}, avail_columns[key], { key: key }));
        }
      }
      return columns;
    }
  },

  created() {},
  mounted() {
    if (!this.availRequestStatuses) {
      this.LOAD_AVAIL_REQUEST_STATUSES();
    }
    if (!this.availRoles) {
      this.LOAD_AVAIL_ROLES();
    }
    if (this.mappedRoleDisambiguation.length <= 0) {
      this.LOAD_ROLE_DISAMBIGUATION();
    }
    if (this.preset_filters) {
      this.filters = Object.assign({}, this.filters, this.preset_filters);
    }
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_ROLES: "utils/LOAD_AVAIL_ROLES",
      LOAD_AVAIL_REQUEST_STATUSES: "utils/LOAD_AVAIL_REQUEST_STATUSES",
      LOAD_ROLE_DISAMBIGUATION: "utils/LOAD_ROLE_DISAMBIGUATION"
    }),
    newShipping(data) {
      this.shipping_preset_form = { request: data.pk };
      this.$refs.shipping_modal.show();
    },
    editShipping(data, shipping) {
      this.shipping_preset_form = shipping;
      this.$refs.shipping_modal.show();
    },
    onShippingSaved() {
      this.$refs.shipping_modal.hide();
      this.$refs.table_request.refresh();
    },
    updateRequestStatus(item, new_status_pk) {
      const uri = this.$parseurl(
        "/logistica/middle/person/{person_pk}/request/{request_pk}/",
        { person_pk: localStorage.getItem("pk_person"), request_pk: item.pk }
      );
      this.$fetchpatch(uri, {
        body: { status: new_status_pk }
      }).then(res => {
        res.json().then(data => {
          if (res.ok) {
            item.status = data.status;
          } else {
            // TODO: mostrar error?
          }
        });
      });
    },
    tableProvider() {
      let offset = 0;
      var filters = {};
      if (this.perPage && this.currentPage) {
        offset = this.perPage * (this.currentPage - 1);
      }
      filters.offset = offset;
      filters.limit = this.perPage;
      if (this.sortBy) {
        filters["ordering"] = this.sortBy;
        if (this.sortDesc) {
          filters["ordering"] = "-" + filters["ordering"];
        }
      }
      filters = Object.assign(filters, this.filters);
      filters = Object.assign(filters, this.lock_filters);
      const uri = this.$parseurl(
        "/logistica/middle/person/{person_pk}/request/",
        {
          person_pk: localStorage.getItem("pk_person")
        },
        filters
      );
      return new Promise((resolve, reject) => {
        this.$fetchget(uri).then(res => {
          res.json().then(data => {
            if (res.ok) {
              const items = data.results;
              this.loading = false;
              this.totalRows = data.count;
              this.$emit("loaded-rows", items);
              resolve(items);
              return items;
            } else {
              // TODO: LANZAR ERROR
              reject("error");
            }
          });
        });
      });
    },
    onRowClicked(data, index) {
      this.$emit(
        "request-click",
        Object.assign({}, data, { __row_index: index })
      );
    },
    onFilterChange() {
      this.$refs.table_request.refresh();
    },
    refresh() {
      this.$refs.table_request.refresh();
    },
    unselectRow(index) {
      this.$refs.table_request.unselectRow(index);
    },
    selectRow(index) {
      this.$refs.table_request.selectRow(index);
    }
  }
};
</script>
<style>
</style>
