<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="6">
          <b-form-group id="group_quantity" label="Cantidad" label-for="input_quantity">
            <b-form-input id="input_quantity" v-model="form.quantity" type="text" required></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group id="group_resource" label="Recurso" label-for="input_resource">
            <b-form-select
              id="input_resource"
              v-model="form.resource"
              :options="mappedAvailResources"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-button @click="selectConsumer">Demandante</b-button>
          <div>ID: {{ $_.get(form, 'consumer_object.pk') }}</div>
          <div>Nombre: {{ $_.get(form, 'consumer_object.name') }}</div>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" class="d-flex justify-content-end">
          <b-button variant="secondary" @click="$emit('cancel')">Cancelar</b-button>
          <b-button variant="primary" @click="saveForm">Guardar</b-button>
        </b-col>
      </b-row>
      <b-modal ref="consumer_modal" centered size="xl" title="Demandante">
        <PersonList @person-click="onConsumerSelect" :preset_filters="{role: 1}" />
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import PersonList from "@/components/PersonList.vue";

export default {
  name: "request-form",
  components: {
    PersonList
  },
  data() {
    return {
      form: {
        consumer_object: null,
        consumer: null,
        quantity: null,
        resource: null
      }
    };
  },
  computed: {
    ...mapState({
      availResources: state => state.utils.availResources,
      mappedAvailResources: state => state.utils.mappedAvailResources
    }),
    basic_uri_rud() {
      return "/logistica/middle/person/{person_pk}/request/";
    }
  },
  created() {},
  mounted() {
    if (!this.availResources) {
      this.LOAD_AVAIL_RESOURCES();
    }
    if (this.preset_form) {
      this.form = Object.assign({}, this.form, this.preset_form);
    }
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_RESOURCES: "utils/LOAD_AVAIL_RESOURCES"
    }),
    saveForm() {
      let uri = undefined;
      uri = this.$parseurl(this.basic_uri_rud, {
        person_pk: localStorage.getItem("pk_person")
      });
      this.$fetchpost(uri, {
        body: this.form
      }).then(res => {
        res.json().then(data => {
          if (res.ok) {
            this.$emit("saved", data);
          } else {
            // TODO: mostrar error
          }
        });
      });
    },
    selectConsumer() {
      this.$refs.consumer_modal.show();
    },
    onConsumerSelect(data) {
      this.form.consumer = data.pk;
      this.form.consumer_object = data;
      this.$refs.consumer_modal.hide();
    }
  }
};
</script>
<style scoped>
</style>
