<template>
  <div>
    <h4 class="font-weight-bold text-center mb-2">Nuevo email de activación</h4>
    <b-alert
      v-for="(err, index) in non_field_errors"
      show
      :key="index"
      variant="danger"
      class="text-center"
    >{{ err }}</b-alert>
    <b-alert
      v-model="showOkAlert"
      variant="danger"
      class="text-center"
    >Activación enviada por correo, revise su buzón de entrada.</b-alert>
    <b-alert
      v-model="showErrAlert"
      variant="danger"
      class="text-center"
    >
      Error reenviando email, pruebe más tarde. Contacte con un administrador si el problema persiste.
    </b-alert>
    <b-form class="mb-8" @submit.prevent="resendActivation">
      <b-form-group
        id="grop_email"
        label="Dirección de correo electrónico"
        label-for="input_email"
        :state="form_state.email"
        :invalid-feedback="form_invalid_feedback.email"
      >
        <b-form-input
          id="input_email"
          :state="form_state.email"
          v-model="form.email"
        >
        </b-form-input>
      </b-form-group>
      <button class="btn btn-block btn-primary lift" type="submit">
        Enviar email de activación
      </button>
      <p class="mt-5 text-center">
        Volver al
        <span>
          <router-link :to="{name: 'login'}">
            Login
          </router-link>
        </span>
      </p>
    </b-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "resend-activation-link-form",
  data() {
    return {
      showOkAlert: false,
      showErrAlert: false,
      form: {
        email: null
      }
    };
  },
  created() {},
  methods: {
    ...mapActions({
      RESEND_ACTIVATION_LINK: "auth/RESEND_ACTIVATION_LINK"
    }),
    resendActivation() {
      this.RESEND_ACTIVATION_LINK({ email: this.form.email }).then(
        () => {
          this.showOkAlert = true;
        },
        res => {
          if (!this.$putErrFeedback(res)) {
            this.showErrAlert = true;
          }
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
form {
  max-width: 600px;
  margin: 0 auto;
}
</style>
