<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="6">
          <b-form-group
            id="group_quantity"
            label="Cantidad"
            label-for="input_quantity"
          >
            <b-form-input
              id="input_quantity"
              v-model="form.quantity"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            id="group_status"
            label="Estado del envío"
            label-for="input_status"
          >
            <b-form-select
              id="input_status"
              v-model="form.status"
              :options="mappedAvailShippingStatuses"
            >
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <h5>Inventario</h5>
          <b-button @click="selectInventory">
            Inventario
          </b-button>
          <div>ID: {{ $_.get(form, 'inventory_object.pk') }}</div>
          <div>Recurso: {{ $_.get(form, 'inventory_object.resource_object.name') }}</div>
          <div>Origen: {{ $_.get(form, 'inventory_object.owner_object.name') }}</div>
        </b-col>
        <b-col cols="6" v-if="shipping_mode=='normal'">
          <h5>Carrier</h5>
          <b-button @click="selectCarrier">
            Carrier
          </b-button>
          <div>Nombre: {{ $_.get(form, 'carrier_object.name') }}</div>
        </b-col>
        <b-col cols="6" v-if="shipping_mode=='move'">
          <h5>Inventario destino</h5>
          <b-button @click="selectMove">
            Inventario destino
          </b-button>
          <div>ID: {{ $_.get(form, 'move_object.pk') }}</div>
          <div>Recurso: {{ $_.get(form, 'move_object.resource_object.name') }}</div>
          <div>Origen: {{ $_.get(form, 'move_object.owner_object.name') }}</div>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="mt-5">
      <b-row>
        <b-col cols="12" class="d-flex justify-content-end">
          <b-button
            variant="secondary"
            @click="$emit('cancel')"
          >
            Cancelar
          </b-button>
          <b-button
            variant="primary"
            @click="saveForm"
          >
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-modal
      ref="inventory_modal"
      centered
      size="xl"
      title="Inventario"
    >
      <InventoryList @inventory-click="onInventorySelect" />
    </b-modal>
    <b-modal
      ref="move_modal"
      centered
      size="xl"
      title="Inventario destino"
    >
      <InventoryList @inventory-click="onMoveSelect" />
    </b-modal>
    <b-modal
      ref="carrier_modal"
      centered
      size="xl"
      title="Transportista"
    >
      <PersonList @person-click="onCarrierSelect" :preset_filters="{role: 4}" />
    </b-modal>
  </div>
</template>

<script>
// import Vue from "vue";
import { mapState, mapActions } from "vuex";
import InventoryList from "@/components/InventoryList.vue";
import PersonList from "@/components/PersonList.vue";

export default {
  name: "shipping-form",
  components: {
    InventoryList,
    PersonList
  },
  props: {
    preset_form: {
      type: Object,
      default: undefined
    },
    shipping_mode: {
      type: String,
      default: "normal"
    }
  },
  data() {
    return {
      form: {
        pk: null,
        status: null,
        quantity: null,
        inventory: null,
        inventory_object: null,
        carrier: null,
        carrier_object: null,
        request: null,
        request_object: null
      }
    };
  },
  computed: {
    ...mapState({
      availShippingStatuses: state => state.utils.availShippingStatuses,
      mappedAvailShippingStatuses: state =>
        state.utils.mappedAvailShippingStatuses
    }),
    basic_uri_lc() {
      if (this.shipping_mode == "normal") {
        return "/logistica/middle/person/{person_pk}/request/{request_pk}/shipping/";
      }
      if (this.shipping_mode == "move") {
        return "/logistica/middle/person/{person_pk}/shipping/";
      }
      return undefined;
    },
    basic_uri_rud() {
      if (this.shipping_mode == "normal") {
        return "/logistica/middle/person/{person_pk}/request/{request_pk}/shipping/{shipping_pk}/";
      }
      if (this.shipping_mode == "move") {
        return "/logistica/middle/person/{person_pk}/shipping/{shipping_pk}/";
      }
      return undefined;
    }
  },
  created() {},
  mounted() {
    if (!this.availShippingStatuses) {
      this.LOAD_AVAIL_SHIPPING_STATUSES();
    }
    if (this.preset_form) {
      this.form = Object.assign({}, this.form, this.preset_form);
    }
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_SHIPPING_STATUSES: "utils/LOAD_AVAIL_SHIPPING_STATUSES"
    }),
    saveForm() {
      let uri = undefined;
      let action = undefined;
      if (!this.form.pk) {
        action = this.$fetchpost;
        uri = this.$parseurl(this.basic_uri_lc, {
          person_pk: localStorage.getItem("pk_person"),
          request_pk: this.form.request
        });
      } else {
        action = this.$fetchput;
        uri = this.$parseurl(this.basic_uri_rud, {
          person_pk: localStorage.getItem("pk_person"),
          request_pk: this.form.request,
          shipping_pk: this.form.pk
        });
      }

      action(uri, {
        body: this.form
      })
        // {"email": "...", "username": "...", "id": 0}
        .then(res => {
          res.json().then(data => {
            if (res.ok) {
              this.$emit("saved", data);
            } else {
              // TODO: mostrar error
            }
          });
        });
    },
    selectInventory() {
      this.$refs.inventory_modal.show();
    },
    selectMove() {
      this.$refs.move_modal.show();
    },
    selectCarrier() {
      this.$refs.carrier_modal.show();
    },
    onMoveSelect(data) {
      this.form.move = data.pk;
      this.form.move_object = data;
      this.$refs.move_modal.hide();
    },
    onInventorySelect(data) {
      this.form.inventory = data.pk;
      this.form.inventory_object = data;
      this.$refs.inventory_modal.hide();
    },
    onCarrierSelect(data) {
      this.form.carrier = data.pk;
      this.form.carrier_object = data;
      this.$refs.carrier_modal.hide();
    }
  }
};
</script>
<style scoped>
</style>
