<template>
  <div>
    {{ mappedAvailRoles[role_id] }}
  </div>

</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "v-role-Text",
  props: {
    role_id: {
      type: [String, Number],
      default: undefined
    }
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      availRoles: state => state.utils.availRoles,
      mappedAvailRoles: state => state.utils.mappedAvailRoles
    })
  },
  mounted() {
    if (!this.availRoles) {
      this.LOAD_AVAIL_ROLES();
    }
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_ROLES: "utils/LOAD_AVAIL_ROLES"
    })
  }
};
</script>
<style scoped lang="scss">
</style>
