<template>
  <div>
    <b-form-group
      label-cols="12"
      label-cols-sm="12"
      label-cols-md="12"
      label-cols-lg="12"
      label-cols-xl="12"
      :label="label"
      :label-for="input_id"
    >
      <b-form-select
        :id="input_id"
        :label="label"
        v-bind:value="value"
        v-on:change="onFilterChange"
        :options="availRoles"
        value-field="pk"
        text-field="name"
      >
        <template v-slot:first>
          <option :value="null">Todo</option>
        </template>
      </b-form-select>
    </b-form-group>
  </div>

</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "v-role-filter",
  props: {
    label: {
      type: String,
      default: "Rol"
    },
    value: undefined
  },
  data() {
    return {
      input_id: "role-select"
    };
  },
  computed: {
    ...mapState({
      availRoles: state => state.utils.availRoles,
      mappedAvailRoles: state => state.utils.mappedAvailRoles
    })
  },
  mounted() {
    this.input_id = this.$_.uniqueId("role-select-");
    if (!this.availRoles) {
      this.LOAD_AVAIL_ROLES();
    }
  },
  methods: {
    ...mapActions({
      LOAD_AVAIL_ROLES: "utils/LOAD_AVAIL_ROLES"
    }),
    onFilterChange(value) {
      this.$emit("input", value);
      this.$emit("change", value);
    }
  }
};
</script>
<style scoped lang="scss">
</style>
